@{
    ViewData["Title"] = "Bulk Import";
    List<Campus> CampusList = ViewBag.Campuses;

    var fileChosen = false;
}

<div id="Lec_Login">
    <img src="~/images/BulkImport.png" />
    @*<label class="h1">LOGIN</label>*@
    <br />
    <br />
    <form method="post" asp-action="UploadData" enctype="multipart/form-data">
        <div class="form-group">
            <div class="input-group mb-3">
                <input name="file" type="file" class="form-control" id="file" onselect="DisableSubmit()" required>
                <label class="input-group-text" for="inputGroupFile02">Upload</label>
            </div>
            <select class="form-select" name="Campus">
                @foreach (var item in CampusList)
                {
                    <option value="@item.Code">@item.Name</option>
                }
            </select>
        </div>
        <br />
        <div id="buttons">
            <button id="upload" type="submit" class="btn btn-primary">
                <i class="bi bi-upload"></i> Import Data
            </button>
        </div>
    </form>
    <br />
    <div id="ExportImport" class="card">
        <div class="card-header">
            <label class="h4">Download Updated Spreadsheet</label>
        </div>
        <div class="card-body">
            <p>
                Export an updated version of the spreadsheet used to "Bulk Import".
            </p>
        </div>
        <div class="card-footer">
            <form method="post" asp-action="ExportImport" target="_blank">
                <button style="margin: auto;" class="btn btn-success" type="submit">
                    <i class="bi bi-download"></i>
                    Export Import File
                </button>
            </form>
        </div>
    </div>
</div>


<style>
    #Lec_Login {
        width: 35%;
        margin: auto;
        margin-top: 6%;
        padding: 3%;
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    #Lec_Login {
        background-color: white;
    }

        #Lec_Login img {
            width: 80%;
        }

    #tbl_or {
        width: 100%;
    }

        #tbl_or td {
            width: 33%;
            text-align: center;
        }

    #buttons button, #buttons a {
        width: 100%;
    }

    /*Responive design*/

    @@media only screen and (max-width:1024px) {
        #Lec_Login {
            width: 50% !important;
        }
    }

    @@media only screen and (max-width:768px) {
        #Lec_Login {
            width: 60% !important;
        }
    }

    @@media only screen and (max-width:425px) {
        #Lec_Login {
            width: 100% !important;
        }
    }

    @@media only screen and (max-width:320px) {
        #Lec_Login {
            width: 100% !important;
        }
    }
</style>