@{
    ViewData["Title"] = "Add Grading";

    string TeacherCode = ViewBag.TeacherCode;
    string StudentCode = ViewBag.StudentCode;
}
<form id="AddGrading" method="post" asp-action="Create">
    <h1>Add Grading</h1>
    <input name="TeacherCode" value="@TeacherCode" type="text" placeholde="Teacher" hidden required />
    <input name="StudentCode" value="@StudentCode" type="text" placeholde="Student" hidden reqiured />
    <hr />

    <div class="tab" id="AdditionalInfo">
        <h3>Class Information</h3>
        <div class="form-floating mb-3">
            <input name="Grade" type="number" class="form-control" id="floatingGrade" placeholder="3">
            <label for="floatingGrade">Class Grade</label>
        </div>
        <div class="form-floating mb-3">
            <input name="Subject" type="text" class="form-control" id="floatingSubject" placeholder="3">
            <label for="floatingSubject">Class Subject</label>
        </div>
        <div class="form-floating mb-3">
            <input name="Topic" type="text" class="form-control" id="floatingTopic" placeholder="">
            <label for="floatingTopic">Class Topic</label>
        </div>
    </div>

    <div class="tab" id="SectionAtoD">
        <h3>SECTION A: LESSON PLANNING</h3>
        <hr />
        <h5">Sections A to D (of lesson plan)</h5>
        <br />
        <div class="rate">
            <fieldset class="rate">
                <input type="radio" id="Arating10" name="Arating" value="10" />
                <label for="Arating10" title="5 stars"></label>
                <input type="radio" id="Arating9" name="Arating" value="9" />
                <label class="half" for="Arating9" title="4 1/2 stars"></label>
                <input type="radio" id="Arating8" name="Arating" value="8" />
                <label for="Arating8" title="4 stars"></label>
                <input type="radio" id="Arating7" name="Arating" value="7" />
                <label class="half" for="Arating7" title="3 1/2 stars"></label>
                <input type="radio" id="Arating6" name="Arating" value="6" />
                <label for="Arating6" title="3 stars"></label>
                <input type="radio" id="Arating5" name="Arating" value="5" />
                <label class="half" for="Arating5" title="2 1/2 stars"></label>
                <input type="radio" id="Arating4" name="Arating" value="4" />
                <label for="Arating4" title="2 stars"></label>
                <input type="radio" id="Arating3" name="Arating" value="3" />
                <label class="half" for="Arating3" title="1 1/2 stars"></label>
                <input type="radio" id="Arating2" name="Arating" value="2" />
                <label for="Arating2" title="1 star"></label>
                <input type="radio" id="Arating1" name="Arating" value="1" />
                <label class="half" for="Arating1" title="1/2 star"></label>
            </fieldset>
        </div>
        <br />
        <br />
        <h6>Comments:</h6>
        <textarea name="ComSectionAtoD" rows="4" class="form-control" placeholder="Enter commentary..."></textarea>
    </div>

    <div class="tab" id="SectionE">
        <h3>SECTION A: LESSON PLANNING</h3>
        <hr />
        <h5>Section E (of lesson plan)</h5>
        <br />
        <div class="rate">
             <fieldset class="rate">
                <input type="radio" id="Erating10" name="Erating" value="10" />
                <label for="Erating10" title="5 stars"></label>
                <input type="radio" id="Erating9" name="Erating" value="9" />
                <label class="half" for="Erating9" title="4 1/2 stars"></label>
                <input type="radio" id="Erating8" name="Erating" value="8" />
                <label for="Erating8" title="4 stars"></label>
                <input type="radio" id="Erating7" name="Erating" value="7" />
                <label class="half" for="Erating7" title="3 1/2 stars"></label>
                <input type="radio" id="Erating6" name="Erating" value="6" />
                <label for="Erating6" title="3 stars"></label>
                <input type="radio" id="Erating5" name="Erating" value="5" />
                <label class="half" for="Erating5" title="2 1/2 stars"></label>
                <input type="radio" id="Erating4" name="Erating" value="4" />
                <label for="Erating4" title="2 stars"></label>
                <input type="radio" id="Erating3" name="Erating" value="3" />
                <label class="half" for="Erating3" title="1 1/2 stars"></label>
                <input type="radio" id="Erating2" name="Erating" value="2" />
                <label for="Erating2" title="1 star"></label>
                <input type="radio" id="Erating1" name="Erating" value="1" />
                <label class="half" for="Erating1" title="1/2 star"></label>
            </fieldset>
        </div>
        <br />
        <br />
        <h6>Comments:</h6>
        <textarea name="ComSectionE" rows="4" class="form-control" placeholder="Enter commentary..."></textarea>
    </div>

    <div class="tab" id="Intro">
        <h3>SECTION B: EXECUTION OF LESSON AS PER THE LESSON PLAN</h3>
        <hr />
        <h5>Introductory Phase</h5>
        <br />
        <div class="rate">
             <fieldset class="rate">
                <input type="radio" id="INTROrating10" name="INTROrating" value="10" />
                <label for="INTROrating10" title="5 stars"></label>
                <input type="radio" id="INTROrating9" name="INTROrating" value="9" />
                <label class="half" for="INTROrating9" title="4 1/2 stars"></label>
                <input type="radio" id="INTROrating8" name="INTROrating" value="8" />
                <label for="INTROrating8" title="4 stars"></label>
                <input type="radio" id="INTROrating7" name="INTROrating" value="7" />
                <label class="half" for="INTROrating7" title="3 1/2 stars"></label>
                <input type="radio" id="INTROrating6" name="INTROrating" value="6" />
                <label for="INTROrating6" title="3 stars"></label>
                <input type="radio" id="INTROrating5" name="INTROrating" value="5" />
                <label class="half" for="INTROrating5" title="2 1/2 stars"></label>
                <input type="radio" id="INTROrating4" name="INTROrating" value="4" />
                <label for="INTROrating4" title="2 stars"></label>
                <input type="radio" id="INTROrating3" name="INTROrating" value="3" />
                <label class="half" for="INTROrating3" title="1 1/2 stars"></label>
                <input type="radio" id="INTROrating2" name="INTROrating" value="2" />
                <label for="INTROrating2" title="1 star"></label>
                <input type="radio" id="INTROrating1" name="INTROrating" value="1" />
                <label class="half" for="INTROrating1" title="1/2 star"></label>
            </fieldset>
        </div>
        <br />
        <br />
        <h6>Comments:</h6>
        <textarea name="ComIntro" rows="4" class="form-control" placeholder="Enter commentary..."></textarea>
    </div>

    <div class="tab" id="Teaching">
        <h3>SECTION B: EXECUTION OF LESSON AS PER THE LESSON PLAN</h3>
        <hr />
        <h5>Teaching and Learning Phase</h5>
        <br />
        <div class="rate">
             <fieldset class="rate">
                <input type="radio" id="EXErating10" name="EXErating" value="10" />
                <label for="EXErating10" title="5 stars"></label>
                <input type="radio" id="EXErating9" name="EXErating" value="9" />
                <label class="half" for="EXErating9" title="4 1/2 stars"></label>
                <input type="radio" id="EXErating8" name="EXErating" value="8" />
                <label for="EXErating8" title="4 stars"></label>
                <input type="radio" id="EXErating7" name="EXErating" value="7" />
                <label class="half" for="EXErating7" title="3 1/2 stars"></label>
                <input type="radio" id="EXErating6" name="EXErating" value="6" />
                <label for="EXErating6" title="3 stars"></label>
                <input type="radio" id="EXErating5" name="EXErating" value="5" />
                <label class="half" for="EXErating5" title="2 1/2 stars"></label>
                <input type="radio" id="EXErating4" name="EXErating" value="4" />
                <label for="EXErating4" title="2 stars"></label>
                <input type="radio" id="EXErating3" name="EXErating" value="3" />
                <label class="half" for="EXErating3" title="1 1/2 stars"></label>
                <input type="radio" id="EXErating2" name="EXErating" value="2" />
                <label for="EXErating2" title="1 star"></label>
                <input type="radio" id="EXErating1" name="EXErating" value="1" />
                <label class="half" for="EXErating1" title="1/2 star"></label>
            </fieldset>
        </div>
        <br />
        <br />
        <h6>Comments:</h6>
        <textarea name="ComTeaching" rows="4" class="form-control" placeholder="Enter commentary..."></textarea>
    </div>

    <div class="tab" id="Closure">
        <h3>SECTION B: EXECUTION OF LESSON AS PER THE LESSON PLAN</h3>
        <hr />
        <h5>Closure Phase</h5>
        <br />
        <div class="rate">
             <fieldset class="rate">
                <input type="radio" id="CLOSURErating10" name="CLOSURErating" value="10" />
                <label for="CLOSURErating10" title="5 stars"></label>
                <input type="radio" id="CLOSURErating9" name="CLOSURErating" value="9" />
                <label class="half" for="CLOSURErating9" title="4 1/2 stars"></label>
                <input type="radio" id="CLOSURErating8" name="CLOSURErating" value="8" />
                <label for="CLOSURErating8" title="4 stars"></label>
                <input type="radio" id="CLOSURErating7" name="CLOSURErating" value="7" />
                <label class="half" for="CLOSURErating7" title="3 1/2 stars"></label>
                <input type="radio" id="CLOSURErating6" name="CLOSURErating" value="6" />
                <label for="CLOSURErating6" title="3 stars"></label>
                <input type="radio" id="CLOSURErating5" name="CLOSURErating" value="5" />
                <label class="half" for="CLOSURErating5" title="2 1/2 stars"></label>
                <input type="radio" id="CLOSURErating4" name="CLOSURErating" value="4" />
                <label for="CLOSURErating4" title="2 stars"></label>
                <input type="radio" id="CLOSURErating3" name="CLOSURErating" value="3" />
                <label class="half" for="CLOSURErating3" title="1 1/2 stars"></label>
                <input type="radio" id="CLOSURErating2" name="CLOSURErating" value="2" />
                <label for="CLOSURErating2" title="1 star"></label>
                <input type="radio" id="CLOSURErating1" name="CLOSURErating" value="1" />
                <label class="half" for="CLOSURErating1" title="1/2 star"></label>
            </fieldset>
        </div>
        <br />
        <br />
        <h6>Comments:</h6>
        <textarea name="ComClosure" rows="4" class="form-control" placeholder="Enter commentary..."></textarea>
    </div>

    <div class="tab" id="Assessment">
        <h3>SECTION B: EXECUTION OF LESSON AS PER THE LESSON PLAN</h3>
        <hr />
        <h5>Assessment</h5>
        <br />
        <div class="rate">
             <fieldset class="rate">
                <input type="radio" id="ASSESSMENTrating10" name="ASSESSMENTrating" value="10" />
                <label for="ASSESSMENTrating10" title="5 stars"></label>
                <input type="radio" id="ASSESSMENTrating9" name="ASSESSMENTrating" value="9" />
                <label class="half" for="ASSESSMENTrating9" title="4 1/2 stars"></label>
                <input type="radio" id="ASSESSMENTrating8" name="ASSESSMENTrating" value="8" />
                <label for="ASSESSMENTrating8" title="4 stars"></label>
                <input type="radio" id="ASSESSMENTrating7" name="ASSESSMENTrating" value="7" />
                <label class="half" for="ASSESSMENTrating7" title="3 1/2 stars"></label>
                <input type="radio" id="ASSESSMENTrating6" name="ASSESSMENTrating" value="6" />
                <label for="ASSESSMENTrating6" title="3 stars"></label>
                <input type="radio" id="ASSESSMENTrating5" name="ASSESSMENTrating" value="5" />
                <label class="half" for="ASSESSMENTrating5" title="2 1/2 stars"></label>
                <input type="radio" id="ASSESSMENTrating4" name="ASSESSMENTrating" value="4" />
                <label for="ASSESSMENTrating4" title="2 stars"></label>
                <input type="radio" id="ASSESSMENTrating3" name="ASSESSMENTrating" value="3" />
                <label class="half" for="ASSESSMENTrating3" title="1 1/2 stars"></label>
                <input type="radio" id="ASSESSMENTrating2" name="ASSESSMENTrating" value="2" />
                <label for="ASSESSMENTrating2" title="1 star"></label>
                <input type="radio" id="ASSESSMENTrating1" name="ASSESSMENTrating" value="1" />
                <label class="half" for="ASSESSMENTrating1" title="1/2 star"></label>
            </fieldset>
        </div>
        <br />
        <br />
        <h6>Comments:</h6>
        <textarea name="ComAssessment" rows="4" class="form-control" placeholder="Enter commentary..."></textarea>
    </div>

    <div class="tab" id="Presence">
        <h3>SECTION C: OVERALL SENSE OF THE LESSON</h3>
        <hr />
        <h5>Classroom Presence</h5>
        <br />
        <div class="rate">
             <fieldset class="rate">
                <input type="radio" id="PRESENCErating10" name="PRESENCErating" value="10" />
                <label for="PRESENCErating10" title="5 stars"></label>
                <input type="radio" id="PRESENCErating9" name="PRESENCErating" value="9" />
                <label class="half" for="PRESENCErating9" title="4 1/2 stars"></label>
                <input type="radio" id="PRESENCErating8" name="PRESENCErating" value="8" />
                <label for="PRESENCErating8" title="4 stars"></label>
                <input type="radio" id="PRESENCErating7" name="PRESENCErating" value="7" />
                <label class="half" for="PRESENCErating7" title="3 1/2 stars"></label>
                <input type="radio" id="PRESENCErating6" name="PRESENCErating" value="6" />
                <label for="PRESENCErating6" title="3 stars"></label>
                <input type="radio" id="PRESENCErating5" name="PRESENCErating" value="5" />
                <label class="half" for="PRESENCErating5" title="2 1/2 stars"></label>
                <input type="radio" id="PRESENCErating4" name="PRESENCErating" value="4" />
                <label for="PRESENCErating4" title="2 stars"></label>
                <input type="radio" id="PRESENCErating3" name="PRESENCErating" value="3" />
                <label class="half" for="PRESENCErating3" title="1 1/2 stars"></label>
                <input type="radio" id="PRESENCErating2" name="PRESENCErating" value="2" />
                <label for="PRESENCErating2" title="1 star"></label>
                <input type="radio" id="PRESENCErating1" name="PRESENCErating" value="1" />
                <label class="half" for="PRESENCErating1" title="1/2 star"></label>
            </fieldset>
        </div>
        <br />
        <br />
        <h6>Comments:</h6>
        <textarea name="ComPresence" rows="4" class="form-control" placeholder="Enter commentary..."></textarea>
    </div>

    <div class="tab" id="Environment">
        <h3>SECTION C: OVERALL SENSE OF THE LESSON</h3>
        <hr />
        <h5>Learning Environment</h5>
        <br />
        <div class="rate">
             <fieldset class="rate">
                <input type="radio" id="ENVIRONMENTrating10" name="ENVIRONMENTrating" value="10" />
                <label for="ENVIRONMENTrating10" title="5 stars"></label>
                <input type="radio" id="ENVIRONMENTrating9" name="ENVIRONMENTrating" value="9" />
                <label class="half" for="ENVIRONMENTrating9" title="4 1/2 stars"></label>
                <input type="radio" id="ENVIRONMENTrating8" name="ENVIRONMENTrating" value="8" />
                <label for="ENVIRONMENTrating8" title="4 stars"></label>
                <input type="radio" id="ENVIRONMENTrating7" name="ENVIRONMENTrating" value="7" />
                <label class="half" for="ENVIRONMENTrating7" title="3 1/2 stars"></label>
                <input type="radio" id="ENVIRONMENTrating6" name="ENVIRONMENTrating" value="6" />
                <label for="ENVIRONMENTrating6" title="3 stars"></label>
                <input type="radio" id="ENVIRONMENTrating5" name="ENVIRONMENTrating" value="5" />
                <label class="half" for="ENVIRONMENTrating5" title="2 1/2 stars"></label>
                <input type="radio" id="ENVIRONMENTrating4" name="ENVIRONMENTrating" value="4" />
                <label for="ENVIRONMENTrating4" title="2 stars"></label>
                <input type="radio" id="ENVIRONMENTrating3" name="ENVIRONMENTrating" value="3" />
                <label class="half" for="ENVIRONMENTrating3" title="1 1/2 stars"></label>
                <input type="radio" id="ENVIRONMENTrating2" name="ENVIRONMENTrating" value="2" />
                <label for="ENVIRONMENTrating2" title="1 star"></label>
                <input type="radio" id="ENVIRONMENTrating1" name="ENVIRONMENTrating" value="1" />
                <label class="half" for="ENVIRONMENTrating1" title="1/2 star"></label>
            </fieldset>
        </div>
        <br />
        <br />
        <h6>Comments:</h6>
        <textarea name="ComEnvironment" rows="4" class="form-control" placeholder="Enter commentary..."></textarea>
    </div>

    <div style="overflow:auto;">
        <br />
        <div style="float:right;">
            <button class="btn btn-secondary" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button class="btn btn-primary" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
    </div>

    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
    </div>
</form>
<style>
    body {
        overflow: hidden !important;
    }

    main {
        width: 100% !important;
        height: 100vh;
        background-color: white;
        padding: 3%;
    }

    main {
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    }
</style>

@*Star Rating CSS: https://codepen.io/hesguru/pen/BaybqXv*@
<style>
    /* Base setup */
    @@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


    /* Ratings widget */
    .rate {
        display: inline-block;
        border: 0;
    }
        /* Hide radio */
        .rate > input {
            display: none;
        }
        /* Order correctly by floating highest to the right */
        .rate > label {
            float: right;
        }
            /* The star of the show */
            .rate > label:before {
                display: inline-block;
                font-size: 2rem;
                padding: .3rem .2rem;
                margin: 0;
                cursor: pointer;
                font-family: FontAwesome;
                content: "\f005 "; /* full star */
            }

        /* Half star trick */
        .rate .half:before {
            content: "\f089 "; /* half star no outline */
            position: absolute;
            padding-right: 0;
        }
    /* Click + hover color */
    input:checked ~ label, /* color current and previous stars on checked */
    label:hover, label:hover ~ label {
        color: gold;
    }
        /* color previous stars on hover */

        /* Hover highlights */
        input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
        input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
        label:hover ~ input:checked ~ label /* highlight previous selected stars */ {
            color: gold;
        }
</style>

@*Multipage From Styling*@
<style>
    /* Style the form */
    #AddGrading {
        background-color: #ffffff;
        margin: auto;
        margin-top: 10%;
        padding: 40px;
        width: 100%;
        min-width: 300px;
    }

    /* Style the input fields */
    textarea {
        padding: 10px;
        width: 100%;
        font-size: 17px;
        font-family: Raleway;
        border: 1px solid #aaaaaa;
    }

        /* Mark input boxes that gets an error on validation: */
        textarea.invalid {
            background-color: #ffdddd;
        }

        /* Mark input boxes that gets no error on validation: */
        textarea.valid {
            background-color: white;
        }

    /* Hide all steps by default: */
    .tab {
        display: none;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

        /* Mark the active step: */
        .step.active {
            opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
            background-color: #084E62;
        }
</style>

<script>
    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
        // This function will display the specified tab of the form ...
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        // ... and fix the Previous/Next buttons:
        if (n == 0) {
            document.getElementById("prevBtn").style.display = "none";
        } else {
            document.getElementById("prevBtn").style.display = "inline";
        }
        if (n == (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "Submit";
        } else {
            document.getElementById("nextBtn").innerHTML = "Next";
        }
        // ... and run a function that displays the correct step indicator:
        fixStepIndicator(n)
    }

    function nextPrev(n) {
        // This function will figure out which tab to display
        var x = document.getElementsByClassName("tab");
        // Exit the function if any field in the current tab is invalid:
        if (n == 1 && !validateForm()) return false;
        // Hide the current tab:
        x[currentTab].style.display = "none";
        // Increase or decrease the current tab by 1:
        currentTab = currentTab + n;
        // if you have reached the end of the form... :
        if (currentTab >= x.length) {
            //...the form gets submitted:
            document.getElementById("AddGrading").submit();
            return false;
        }
        // Otherwise, display the correct tab:
        showTab(currentTab);
    }

    function validateForm() {
        // This function deals with validation of the form fields
        var x, y, i, valid = true;
        x = document.getElementsByClassName("tab");
        y = x[currentTab].getElementsByTagName("textarea");

        if (y.length < 1) {
            y = x[currentTab].getElementsByTagName("input");
        }

        // A loop that checks every input field in the current tab:
        for (i = 0; i < y.length; i++) {
            // If a field is empty...
            if (y[i].value == "") {
                // add an "invalid" class to the field:
                y[i].className += " invalid";
                // and set the current valid status to false:
                valid = false;
            }
            else {
                // add an "valid" class to the field:
                y[i].className += " valid";
                // and set the current valid status to true:
                valid = true;
            }
        }
        // If the valid status is true, mark the step as finished and valid:
        if (valid) {
            document.getElementsByClassName("step")[currentTab].className += " finish";
        }
        return valid; // return the valid status
    }

    function fixStepIndicator(n) {
        // This function removes the "active" class of all steps...
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
        }
        //... and adds the "active" class to the current step:
        x[n].className += " active";
    }
</script>
