@{
    ViewData["Title"] = "Add School";

    //Get List of Campuses from Back-End
    List<Campus> campuses = ViewBag.ListCampuses;
}

<div id="Lec_Login">
    <img src="~/images/AddSchool.png" />
    <br />
    <br />
    <form method="post" asp-action="Create">
        <div class="form-group">
            <div class="form-floating mb-3">
                <input name="Name" type="text" class="form-control" id="floatingName" placeholder="eg. Sunridge Primary School" required>
                <label for="floatingInput">School Name</label>
            </div>
            <div class="form-floating mb-3">
                <input name="Quintile" type="text" class="form-control" id="floatingQuintile" placeholder="eg. Q1" required>
                <label for="floatingInput">Quintile Category</label>
            </div>
            <div class="form-floating mb-3">
                <select name="Campus" type="text" class="form-select" id="floatingCampus" placeholder="eg. Port Elizabeth, Eastern Cape" required>
                    @foreach (var campus in campuses)
                    {
                        <option value="@campus.Code">@campus.City, @campus.Province</option>
                    }
                </select>
                <label for="floatingPassword">Varsity College Campus</label>
            </div>
        </div>
        <br />
        <div id="buttons">
            <button type="submit" class="btn btn-success">Add School</button>
            @*<table id="tbl_or">
            <tr>
            <td><hr /></td>
            <td>OR</td>
            <td><hr /></td>
            </tr>
            </table>
            <a class="btn btn-secondary">REGISTER</a>*@
        </div>
    </form>
</div>

<style>
    #Lec_Login {
        width: 35%;
        margin: auto;
        margin-top: 3%;
        padding: 3%;
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    #Lec_Login {
        background-color: white;
    }

        #Lec_Login img {
            width: 80%;
        }

    #tbl_or {
        width: 100%;
    }

        #tbl_or td {
            width: 33%;
            text-align: center;
        }

    #buttons button, #buttons a {
        width: 100%;
    }
</style>