@model StudentTeacher.Models.Campus

@{
    ViewData["Title"] = "Edit";
}

<div id="Lec_Login">

    <img src="~/images/EditCampus.png" />

    <hr />
    <div class="row">
        <div class="form-group">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Code" />


                <div class="form-floating mb-3">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <select name="Province" type="text" class="form-select" id="floatingProvince" placeholder="eg. Eastern Cape" required>
                        <option value="Eastern Cape">Eastern Cape</option>
                        <option value="Free State">Free State</option>
                        <option value="Gauteng">Gauteng</option>
                        <option value="KwaZulu-Natal">KwaZulu-Natal</option>
                        <option value="Limpopo">Limpopo</option>
                        <option value="Mpumalanga">Mpumalanga</option>
                        <option value="North West">North West</option>
                        <option value="Western Cape">Western Cape</option>
                    </select>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div id="buttons">
                    <input type="submit" style="width: 100%" value="Save" class="btn btn-primary" />
                    <button asp-action="Details" asp-route-id="@Model.Code" class="btn btn-succes" style="background-color: #084E62; color: white; margin-top: 4px;">Back</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }


    <style>
        #Lec_Login {
            width: 35%;
            margin: auto;
            margin-top: 3%;
            padding: 3%;
            box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        #Lec_Login {
            background-color: white;
        }

            #Lec_Login img {
                width: 80%;
            }

        #tbl_or {
            width: 100%;
        }

            #tbl_or td {
                width: 33%;
                text-align: center;
            }

        #buttons button, #buttons a {
            width: 100%;
        }


        /*Responive design*/

        @@media only screen and (max-width:1024px) {
            #Lec_Login {
                width: 50%;
            }
        }

        @@media only screen and (max-width:768px) {
           #Lec_Login {
                width: 60%;
            }
        }

        @@media only screen and (max-width:425px) {
            #Lec_Login {
                width: 100%;
            }
        }

        @@media only screen and (max-width:375px) {
            #Lec_Login {
                width: 100%;
            }
        }

        @@media only screen and (max-width:320px) {
            #Lec_Login {
                width: 100%;
            }
        }
    </style>