@{
    ViewData["Title"] = "Dashboard";
}

<div id="Tea_Dash">
    <label class="h1">Dashboard</label>
    <br />
    <label class="h5">Welcome, Jan.</label>
    <hr />
    <label class="h2">My Students</label>
    <div style="float: right; width: 40%;" class="input-group mb-3">
        <select class="form-select" style="max-width: 40% !important">
            <option value="">Name</option>
            <option value="">Module Code</option>
            <option value="">Module Name</option>
        </select>
        <input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-primary" type="button" id="button-addon2"> <i class="bi bi-search"></i> Search</button>
    </div>
    <div id="DivStudents">
        <div id="StudentsTop">
            <table>
                <thead>
                    <tr>
                        <th>
                            Name & Surname
                        </th>
                        <th>
                            Module Code
                        </th>
                        <th>
                            Module Name
                        </th>
                        <th>
                            Details
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="StudentsBot">
            <table>
                <tbody>
                    <tr>
                        <td>
                            Jan Pauw
                        </td>
                        <td>
                            PROG6312
                        </td>
                        <td>
                            Programming 3B
                        </td>
                        <td style="text-align: center;">
                            <a class="btn btn-success">
                                <i class="bi bi-info-circle"></i> Details
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Henco Barkhuizen
                        </td>
                        <td>
                            IPMA6312
                        </td>
                        <td>
                            Intro to Project Management 3B
                        </td>
                        <td style="text-align: center;">
                            <a class="btn btn-success">
                                <i class="bi bi-info-circle"></i> Details
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            David Britnor
                        </td>
                        <td>
                            APPR6312
                        </td>
                        <td>
                            Applied Programming 3B
                        </td>
                        <td style="text-align: center;">
                            <a class="btn btn-success">
                                <i class="bi bi-info-circle"></i> Details
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Oliver Honiball
                        </td>
                        <td>
                            ADDB6312
                        </td>
                        <td>
                            Advanced Databases 3B
                        </td>
                        <td style="text-align: center;">
                            <a class="btn btn-success">
                                <i class="bi bi-info-circle"></i> Details
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <hr />
    <label class="h2">My Gradings</label>
    <div style="float: right; width: 40%;" class="input-group mb-3">
        <select class="form-select" style="max-width: 40% !important">
            <option value="">Date</option>
            <option value="">Student</option>
            <option value="">Mark Equal to</option>
            <option value="">Mark Greater than</option>
            <option value="">Mark Less than</option>
            <option value="">Status</option>
        </select>
        <input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-primary" type="button" id="button-addon2"> <i class="bi bi-search"></i> Search</button>
    </div>
    <div id="DivGradings">
        <div id="GradingsTop">
            <table>
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Student
                        </th>
                        <th>
                            Mark
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Details
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="GradingsBot">
            <table>
                <tbody>
                    <tr>
                        <td>
                            29 September 2022
                        </td>
                        <td>
                            Jan Pauw
                        </td>
                        <td>
                            50 / 80
                        </td>
                        <td>
                            DRAFT
                        </td>
                        <td style="text-align: center;">
                            <a class="btn btn-success">
                                <i class="bi bi-info-circle"></i> Details
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            12 June 2022
                        </td>
                        <td>
                            Henco Barkhuizen
                        </td>
                        <td>
                            75 / 80
                        </td>
                        <td>
                            FINAL
                        </td>
                        <td style="text-align: center;">
                            <a class="btn btn-success">
                                <i class="bi bi-info-circle"></i> Details
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            09 August 2022
                        </td>
                        <td>
                            David Britnor
                        </td>
                        <td>
                            15 / 80
                        </td>
                        <td>
                            FINAL
                        </td>
                        <td style="text-align: center;">
                            <a class="btn btn-success">
                                <i class="bi bi-info-circle"></i> Details
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            15 July 2022
                        </td>
                        <td>
                            Oliver Honiball
                        </td>
                        <td>
                            63 / 80
                        </td>
                        <td>
                            DRAFT
                        </td>
                        <td style="text-align: center;">
                            <a class="btn btn-success">
                                <i class="bi bi-info-circle"></i> Details
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <br />
</div>

<style>
    #nav_Dashboard {
        color: #495057;
        background-color: #fff;
        border-color: #dee2e6 #dee2e6 #fff;
    }

    main {
        width: 100% !important;
        background-color: white;
        padding: 3%;
    }

    main {
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    }

    #Tea_Dash {
        width: 100%;
    }

    #DivStudents {
        width: 100%;
    }

    #StudentsTop {
        width: 100%;
    }

        #StudentsTop table {
            width: 100%;
        }

            #StudentsTop table tr {
                background-color: #084E62;
            }

            #StudentsTop table th {
                width: 25%;
                padding: 1%;
                color: white;
            }

    #StudentsBot {
        width: 100%;
    }

        #StudentsBot table {
            width: 100%;
        }

            #StudentsBot table tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #StudentsBot table tr:nth-child(odd) {
                background-color: #E9E9E9;
            }

            #StudentsBot table td {
                width: 25%;
                padding: 1%;
                color: black;
            }

    #GradingsTop {
        width: 100%;
    }

        #GradingsTop table {
            width: 100%;
        }

            #GradingsTop table tr {
                background-color: #084E62;
            }

            #GradingsTop table th {
                width: 20%;
                padding: 1%;
                color: white;
            }

    #GradingsBot {
        width: 100%;
    }

        #GradingsBot table {
            width: 100%;
        }

            #GradingsBot table tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #GradingsBot table tr:nth-child(odd) {
                background-color: #E9E9E9;
            }

            #GradingsBot table td {
                width: 20%;
                padding: 1%;
                color: black;
            }
</style>