@{
    ViewData["Title"] = "Lecturer Registration";
}

<div id="Lec_Login">
    <img src="~/images/LecturerRegistration.png" />
    <br />
    <br />
    <form method="post" asp-action="Register">
        <div class="form-group">
            <div class="form-floating mb-3">
                <input name="FirstName" type="text" class="form-control" id="floatingInput" placeholder="John" required>
                <label for="floatingInput">First Name</label>
            </div>
            <div class="form-floating mb-3">
                <input name="LastName" type="text" class="form-control" id="floatingInput" placeholder="Doe" required>
                <label for="floatingInput">Last Name</label>
            </div>
            <div class="form-floating mb-3">
                <input name="Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input name="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating mb-3">
                <input name="ConfirmPassword" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                <label for="floatingPassword">Confirm Password</label>
            </div>
            <div class="form-floating mb-3">
                <input name="CampusCode" type="text" class="form-control" id="floatingInput" placeholder="eg. ABCD1234" required>
                <label for="floatingInput">Campus Code</label>
            </div>
        </div>
        <br />
        <div id="buttons">
            <button type="submit" class="btn btn-success">REGISTER</button>
            @*<table id="tbl_or">
            <tr>
            <td><hr /></td>
            <td>OR</td>
            <td><hr /></td>
            </tr>
            </table>
            <a class="btn btn-secondary">REGISTER</a>*@
        </div>
    </form>
</div>

<style>
    #Lec_Login {
        width: 35%;
        margin: auto;
        margin-top: 3%;
        padding: 3%;
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    #Lec_Login {
        background-color: white;
    }

        #Lec_Login img {
            width: 80%;
        }

    #tbl_or {
        width: 100%;
    }

        #tbl_or td {
            width: 33%;
            text-align: center;
        }

    #buttons button, #buttons a {
        width: 100%;
    }
</style>